@{
    ViewData["Title"] = "Privacy Policy";
}
<input type="hidden" name="ViewName" value="@Html.Encode(ViewData["ViewName"])" />

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
